:root {
    --text: #f1edde;
    --background: #141106;
    --primary: #ffd42a;
    --secondary: #364e5e;
    --accent: #f9ce20;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}

header {
    margin: 0.5em;
    padding: 0.5em;
    outline: 1px solid var(--primary);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.button {
    background-color: var(--primary);
    color: var(--background);
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}