:root {
    --text: #f1edde;
    --background: #141106;
    --primary: #ffd42a;
    --secondary: #364e5e;
    --accent: #f9ce20;
    --pad: 0.5em;
}

* {
    box-sizing: border-box;
}

/* Fixed */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: var(--pad);
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header header"
        "main center sidebar";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1em;
}

header {
    grid-area: header;
    padding: var(--pad);
    outline: 1px solid var(--primary);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

main {
    grid-area: main;
    padding: var(--pad);
    outline: 1px solid var(--primary);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#sidebar {
    background-color: var(--secondary);
    grid-area: sidebar;
    padding: var(--pad);
    outline: 1px solid var(--primary);
    border-radius: 0.5em;
    overflow-y: auto;
}

pre {
    font-family: 'Consolas', monospace;
    font-size: .8em;
}

#fixtures {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
}

#functions {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
}

#center {
    grid-area: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
}

/* 'Reusables' */

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.indented {
    padding-left: 1em;
}

.indented::before {
    content: '▲';
    margin-right: 0.5em;
    color: var(--accent);
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: var(--primary);
    color: var(--background);
    padding: var(--pad);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.fixture {
    padding: var(--pad);
    background-color: var(--secondary);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.tabs > * {
    padding: var(--pad);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    border: 1px solid var(--primary);
}

.tabs > *.active {
    background-color: var(--primary);
    color: var(--background);
}

.function {
    padding: var(--pad);
    background-color: var(--secondary);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
    cursor: pointer;
}

.function.selected {
    background-color: var(--primary);
    color: var(--background);
}

.function-folder {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
    cursor: pointer;
    user-select: none;
}

.function-folder > :first-child > .arrow::after {
    content: '▼';
    margin-right: 0.5em;
    color: var(--accent);
}

.function-folder.collapsed > :first-child > .arrow::after {
    content: '▲';
    margin-right: 0.5em;
    color: var(--accent);
}

.function-folder > :first-child {
    font-weight: bold;
    padding: var(--pad);
    border: 1px solid var(--primary);
    border-radius: 0.5em;
}

.function-folder > :not(:first-child) {
    margin-left: 1em;
}

.function-folder.collapsed > :not(:first-child) {
    display: none;
}